$primary: green;

body {
    font-family: Helvetica, sans-serif;
}

div[class^='slider-'] {
    position: relative;
    width: 50vw;
    height: 30vh;
    border: 1px solid rgba($color: #000000, $alpha: 0.1);
    margin: 0 auto;
    .slider__item {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: none;
        text-align: center;
        &:first-child {
            display: block;
        }
    }
    .controls {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        display: flex;
        justify-content: space-between;
        z-index: 9999;
        div {
            cursor: pointer;
            padding: 1em;
        }
    }
    .pager {
        position: absolute;
        bottom: 1em;
        right: 50%;
        transform: translateX(50%);
        display: flex;
        justify-content: space-around;
        span {
            width: 1em;
            height: 1em;
            background: rgba($color: #000000, $alpha: 0.5);
            display: block;
            border-radius: 50%;
            margin-right: 1em;
            &:last-child {
                margin-right: 0;
            }
        }
        .active {
            background: rgba($color: #000000, $alpha: 1);
        }
    }
}